<main>
    <section class="bg-primary font-weight-bolder text-white p-5">
        <span class=" title-info">¡Salvando Angelitos!</span>
        <div class="content-info text-center">
            Buscamos ser una organizacion sin fines de lucro que lucha en pro de los
            derechos de los perros, que se encuentran en un entorno de maltrato, abandono,
            enfermedad.Intentamos reintegrarlos a una sociedad que tenga el deseo de poder
            adoptarlos u apadrinarlos para mejorar su calidad de vida.
        </div>

    </section>


    <section>
        <img class="img p-5" src="~/images/unidos.jpg" alt="">
    </section>
    <h1 class=" text-center font-weight-bold">¿Quienes Somos?</h1>
    <hr>
    <section class=" d-flex justify-content-center .bg-light p-4">
        <div class="content-conocenos d-flex ">
            <div class="quienes-somos bg-info">
                <div class="content-description">
                    <h5 class="text-center font-weight-bold">Mision</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum consectetur ipsum quidem quod
                        ducimus rem magni debitis iste. Animi architecto quis ducimus similique maxime earum, quod
                        repellat provident iste alias perspiciatis ipsum ipsam aperiam debitis explicabo dicta natus.
                        Esse repudiandae aliquid blanditiis corrupti in maxime. Dolor alias fuga et soluta.</p>

                </div>
            </div>
             <div class="quienes-somos">
                <div class="content-description">
                    <h5 class="text-center font-weight-bold">Vision</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum consectetur ipsum quidem quod
                        ducimus rem magni debitis iste. Animi architecto quis ducimus similique maxime earum, quod
                        repellat provident iste alias perspiciatis ipsum ipsam aperiam debitis explicabo dicta natus.
                        Esse repudiandae aliquid blanditiis corrupti in maxime. Dolor alias fuga et soluta.</p>

                </div>
            </div>
        </div>
    </section>
    <h1 class=" text-center font-weight-bold pt-3">¿Como Contribuir?</h1>

    <hr>
    <section class="d-flex d-flex justify-content-around cards bg-dark pt-5 pb-5">
        <div class="card" style="width: 18rem;">
            <div class="p-3">
                <img class="card-img-top car-image" src="~/images/adoptame.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Puedes contribuir con la fundacion al adoptar un perrito,
                        brindandole el cariño y el amor que nesesita.
                    </p>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="p-3">
                <img class="card-img-top car-image" src="~/images/apadriname.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Puedes apadrinar un perrito si no deseas adoptar, hasta el momento
                        que alguien mas desee adoptarlo.</p>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="p-3">
                <img class="card-img-top car-image" src="~/images/aporte.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">No necesariamente con dinero, puede ser alimentos, jabones
                        u cualquier cosa de nesesidad basica
                    </p>
                </div>
            </div>
        </div>


    </section>
</main>